body {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    width: 100px;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    gap: 16px;
}